{% extends "base.html" %}

{% block content %}

  <div class="container-fluid">
		<main role="main" class="col-sm-12 ml-lg-auto col-md-12 pt-3">
				<div class="row">
								{% with messages = get_flashed_messages(with_categories=true) %}
												<!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
												{% if messages %}
														{% for category, message in messages %}
														<div class="alert alert-{{ category }} alert-dismissible" role="alert">
														<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" style="color:red">&times;</span></button>
														<!-- <strong>Title</strong> --> {{ message }}
														</div>
														{% endfor %}
												{% endif %}
												{% endwith %}

						</div>

						 <div class="row">

		    <h3 class="text-center"> <span style="color: purple;">Select a study to interpret </span></h3>
					   <div class="table-responsive">
							<table class="table table-striped">
								<thead class="thead-inverse">  
									<tr>
										<th class="text-center">#</th>
										<th>Patient ID</th>
										<th>Study</th>
										<th>Age (yrs) </th>
										<th>Sex</th>
									</tr>
								</thead>

												<tbody>
         			{% for my_data in myworklist_data %}
              <tr>
                <td class="text-center"><a href="/study/{{my_data.img}}">
										<button type="button" class="btn btn-primary btn-sm">Report</button>
										</a></td>
                <td>{{my_data.pt_id}}</td>
                <td>CXR</td>
                <td>{{my_data.age}}</td>
                <td>{{my_data.sex}}</td>
              </tr>
              {% endfor %}  
						 </tbody>
					</table>
					   </div>

		</main> 
		<!--.main -->

  </div>
	<!--.container-fluid-->
{% endblock %}
